<div class="banner-container">
    <div class="width-wrapper">

        <div class="slogan">让最好的人才遇见更好的机会</div>
        <div class="desc">一周内5~10个机会，仅需一次申请</div>
        <div class="join-container"><input id="email" name="email" placeholder="Email" type="text"/>
            <button class="blue-btn" id="index_join" type="submit">立即加入</button>
        </div>
        <div class="banner-hint">
            <span>20w以上年薪互联网技术、设计、产品。</span>
            <a href="#">
                <span>查看使用攻略</span>
            </a>
        </div>
    </div>
</div>

<div class="service-container bg-gray">
    <div class="width-wrapper">
        <div class="container-title">101offer 这样帮你发现极致职业机会</div>
        <div class="service-wrapper">
            <div class="service-block"><img alt="1" src="https://snow-assets.b0.upaiyun.com/assets/index/service/1-e97c44ba3cf591445d13bedaefb2f5da.png"/>
                <div class="desc-wrapper">
                    <div class="desc">在一周内看到 5~10 个来自优质企业的机会，包括出国和回国工作的机会。</div>
                </div>
            </div>
            <div class="service-block"><img alt="2" src="https://snow-assets.b0.upaiyun.com/assets/index/service/2-d456bdf3ca805b6e1e5406f172f23a57.png"/>
                <div class="desc-wrapper">
                    <div class="desc">这里只有 TOP 5% 的企业，只为让最好的人才能遇见更好的机会。</div>

                </div>
            </div>
            <div class="service-block"><img alt="3" src="https://snow-assets.b0.upaiyun.com/assets/index/service/3-9029a219fa0ebd1fc587ef7980aa1436.png"/>
                <div class="desc-wrapper">
                    <div class="desc">我们尊重你的隐私，企业看不到你的姓名和联系方式，除非你同意。</div>

                </div>
            </div>
            <div class="service-block"><img alt="4" src="https://snow-assets.b0.upaiyun.com/assets/index/service/4-971fa862b236b9850a6948fedb2953ac.png"/>
                <div class="desc-wrapper">
                    <div class="desc">在APP上直接与未来上司甚至公司高管沟通，就像聊微信一样简单。</div>
                </div>
            </div>
            <div class="service-block"><img alt="5" src="https://snow-assets.b0.upaiyun.com/assets/index/service/5-e0d5cf8b4d72cc509b6e014db2433fb9.png"/>
                <div class="desc-wrapper">
                    <div class="desc">专业顾问在整个过程中向你提供专业的帮助和建议。</div>
                </div>
            </div>
            <div class="service-block"><img alt="6" src="https://snow-assets.b0.upaiyun.com/assets/index/service/6-2a80aa41b4cb8920fa4e72402eddd564.png"/>
                <div class="desc-wrapper">
                    <div class="desc">我们不向你收取任何费用，相反，入职后，你还会收到我们的一份贺礼。</div>
                </div>
            </div>
        </div>
    </div>
</div>
